<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-text mx-3">ADMIN ATEPAY</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dasbor</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/products">
      <i class="fas fa-fw fa-stream"></i>
      <span>Produk</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categories">
      <i class="fas fa-fw fa-filter"></i>
      <span>Kategori</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">
      <i class="fas fa-fw fa-users"></i>
      <span>Pengguna</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/setting">
      <i class="fas fa-fw fa-cog"></i>
      <span>Pengaturan</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>